# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Replit-specific files
.replit
.nix/
*.nix

# Maven output directory
target/

# Output directories (compiled code)
bin/
out/

# IDE-specific files
.settings/
.classpath
.project
.idea/
*.iml
.vscode/
.vscode/*

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
*.sublime-workspace
